<html>
<head>

  <script src="../../bower_components/angular/angular.js"></script>

  <script src="../demo.js"></script>
  <script src="../controllers/demoCtr1.js"></script>

</head>
<body>
<div ng-app="demo">
  <div ng-controller="DemoCtr1">
    <h1>Dallas Angular Super Heroes</h1>

    <h2>{{title}}</h2>

    <table>
      <tr>
        <td>&lt;span&gt; ng-bind="title">&lt;/span&gt;</td>
        <td><span ng-bind="title"></span></td>
      </tr>
      <tr>
        <td><code ng-non-bindable>{{title}}</code></td>
        <td>{{title}}</td>
      </tr>
      <tr>
        <td>&lt;input ng-model="title"/&gt;</td>
        <td><input ng-model="title"/></td>
      </tr>
    </table><br/><br/>

  Hope you like this {{title}}

</div>
</div>
</body>
</html>