<html>
<head>
  <title>DASH</title>
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="styleSheet" href="/bower_components/angular-ui-grid/ui-grid.css"/>  <!-- build:css styles/lib.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="../../bower_components/angular-ui-grid/ui-grid.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css styles/vendor.css -->
  <!-- inject:vendor:css -->
  <!-- endinject-->
  <!-- endbuild -->
  <!-- build:css styles/app.css-->
  <!-- inject:app:css -->
  <link rel="stylesheet" href="assets/css/dash.css">
  <!-- endinject -->
  <!-- endbuild -->

</head>
<body>

<div class="mainPage">
  <section class="topMenu">
    <span><a ui-sref="home" >Home</a></span>
    <span><a ui-sref="member list" >List</a></span>
    <span><a ui-sref="member grid" >Grid</a></span>
    <!--<span><a ui-sref="map">Map</a></span>-->
  </section>
  <h1>Dallas Angular SuperHeroes</h1>
  <section class="intro">
    <div>The Dallas Angular SuperHeroes is a group of front end developers who exchange on their experience with the
      AngularJS framework.
    </div>
  </section>

  <!-- uiView:  -->
  <section ui-view="">
  </section>
</div>

<!-- build:js js/lib.js -->
<!-- bower:js -->
<script src="../../bower_components/jquery/dist/jquery.js"></script>
<script src="../../bower_components/angular/angular.js"></script>
<script src="../../bower_components/angular-animate/angular-animate.js"></script>
<script src="../../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="../../bower_components/angular-cookies/angular-cookies.js"></script>
<script src="../../bower_components/angular-mocks/angular-mocks.js"></script>
<script src="../../bower_components/angular-pusher/angular-pusher.js"></script>
<script src="../../bower_components/angular-resource/angular-resource.js"></script>
<script src="../../bower_components/angular-route/angular-route.js"></script>
<script src="../../bower_components/angular-ui-grid/ui-grid.js"></script>
<script src="../../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="../../bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="../../bower_components/lodash/lodash.js"></script>
<script src="../../bower_components/ng-lodash/build/ng-lodash.js"></script>
<script src="../../bower_components/rxjs/dist/rx.all.js"></script>
<!-- endbower -->
<!-- endbuild -->
<!-- build:js js/vendor.js -->
<!-- inject:vendor:js -->
<!-- endinject-->
<!-- endbuild -->
<!-- build:js js/appdef.js -->
<!-- endinject -->
<!-- inject:appdef:js -->
<script src="app.js"></script>
<!-- endinject -->
<!-- inject:app:js -->
<script src="backend/memberBackEndIF.js"></script>
<script src="controllers/mapCtr.js"></script>
<script src="controllers/memberListCtr.js"></script>
<script src="controllers/promiseComponent.js"></script>
<script src="services/listSrv.js"></script>
<script src="controllers/home.component.js"></script>
<script src="controllers/member.component.js"></script>
<script src="controllers/memberCtr.js"></script>
<script src="routes/dashRte.js"></script>
<script src="services/memberBackEnd.js"></script>
<script src="services/memberBackEndSimple.js"></script>
<!-- endinject -->
<!-- inject:app:ts -->
<!-- endinject -->
<!-- endbuild -->

</body>
</html>
