extends layout
script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js')
block content
    div.mainPage(ng-controller="HomeCtr")

        section.topMenu
            span
                a(ui-sref="home") Home
                a(ui-sref="member list") List Members
                a(href="http://www.meetup.com/DallasAngularJS/") Meetup
                a(href="http://www.meetup.com/DallasAngularJS/events") Events
                a(href="http://www.improvingenterprises.com/events/") Other Groups

        h1 Dallas Angular SuperHeroes

        section.intro
            div The Dallas Angular SuperHeroes is a group of front end developers who exchange on their experience with the AngularJS framework.

        section(ui-view)