<html ng-app="dash">
<head>
  <title>DASH</title>
  <link rel="stylesheet" href="/assets/css/dash.css">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="styleSheet" href="/bower_components/angular-ui-grid/ui-grid.css"/>
</head>
<body>

<div ng-controller="HomeCtr" class="mainPage">
  <section class="topMenu">
    <span><a ui-sref="home" href="#/">Home</a></span>
    <span><a ui-sref="member list" href="#/memberList">List</a></span>
    <span><a ui-sref="member grid" href="#/memberGrid">Grid</a></span>
  </section>
  <h1>Dallas Angular SuperHeroes</h1>
  <section class="intro">
    <div>The Dallas Angular SuperHeroes is a group of front end developers who exchange on their experience with the
      AngularJS framework.
    </div>
  </section>
  
  <!-- uiView:  -->
  <section ui-view="">
  </section>
</div>

<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/angular-resource/angular-resource.js"></script>
<script src="/bower_components/angular-route/angular-route.js"></script>
<script src="/bower_components/angular-ui-grid/ui-grid.js"></script>
<script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="/bower_components/angular-bootstrap/ui-bootstrap.js"></script>

</body>
</html>
