script(src="/app.js")
script(src="/backend/memberBackEndIF.js")
script(src="/controllers/homeCtr.js")
script(src="/controllers/memberCtr.js")
script(src="/routes/dashRte.js")
script(src="/services/listSrv.js")
script(src="/services/memberSrv.js")
