.mainPage {
  font-size: 18px
}

.topMenu {
  width: 100%;
  height: 40px;
  background-color: #111;
}

.topMenu > span {
  display: inline-block;
  margin: 7px 0 0 20px;
}

.topMenu a {
  color: #CEE;
  margin: 0 10px;
}

.topMenu a:hover {
  color: #6FF;
}

h1, h2, h3, .mainPage .intro {
  margin: 40px 20px;
  background: #FFE;
  /*margin: 0 0 10px 0;*/
}

/*
* List
*/

.listPage li {
  margin: 20px;
}

.listPage .filter {
  margin: 10px;
}

.listPage .filter > span {
  margin: 0 10px 0 0;
  font-weight: bold;
}

.listPage .filter label {
  margin: 0 10px;
}

.header-filtered {
  color: #292;
}

/*.buttonBar {*/
/*margin: 20px 0;*/
/*display: inline-block;*/
/*}*/
/*.buttonBar button {*/
/*margin: 20px 30px 0 0;*/
/*width: 100px;*/
/*height: 40px;*/
/*background-color: #EFE;*/
/*color: #553*/
/*}*/
.error {
  color: #900;
}

/*
 * Object
 */
.objView {
  padding: 0 40px;
}



.objList li, .refList li {
  list-style-type: none;
}

.objValues {
  margin: 20px 0 0 0;
}

.objValues .label {
  display: inline-block;
  width: 140px;
  margin: 0 10px 0 0;
  right: 0;
  text-align: right;
  color: #044;
  font-size: 16px;
}

.objValues .values {
  background: green;
}

.buttonBar {
  margin: 20px 20px 0 0;
}

/*
 * Grid
 */
.ui-grid .ui-grid-header-cell-wrapper {
  height: auto;
}

.ui-grid {
  height: 100%;
}

.ui-grid img {
  margin-left: 10px;
  height: 100%;
}


