script(src="/.public/app.js")
script(src="/.public/backend/memberBackEndIF.js")
script(src="/.public/controllers/homeCtr.js")
script(src="/.public/controllers/memberCtr.js")
script(src="/.public/public/app.js")
script(src="/.public/public/backend/memberBackEndIF.js")
script(src="/.public/public/controllers/homeCtr.js")
script(src="/.public/public/controllers/memberCtr.js")
script(src="/.public/public/routes/dashRte.js")
script(src="/.public/public/services/listSrv.js")
script(src="/.public/public/services/memberSrv.js")
script(src="/.public/routes/dashRte.js")
script(src="/.public/services/listSrv.js")
script(src="/.public/services/memberSrv.js")
script(src="/app.js")
script(src="/backend/memberBackEndIF.js")
script(src="/controllers/homeCtr.js")
script(src="/controllers/memberCtr.js")
script(src="/routes/dashRte.js")
script(src="/services/listSrv.js")
script(src="/services/memberSrv.js")
